{% extends 'bootstrap/base.html' %}

{% block title %}
    Welcome to the Hardware Inventory
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
    <p>This is where the navigation Bar will be located</p>
    </nav>
{% endblock %}

{% block content %}
    <hr>
    <div class="container-fluid"">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
